/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* End of CSS Reset */

:root{
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    
    
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    /* (with 75% opacity for lightbox background) */

}


body{
    font-family: 'Kumbh Sans', sans-serif;
    user-select: none;
}

main{
    min-width: 375px;
    position: relative;
}

/* Header Stylings */

header{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    height: 67px;
    justify-content: space-between;
    padding-right: 1.5em;
    padding-left: 1.5em;
    z-index: 10;
    width: 100%;
}

.logo{
    margin-right: auto;
    margin-left: 1em;
}

.title__logo{
    font-size: 2rem;
    font-weight: 700;

}

.customer-shopping-cart:hover{
    cursor: pointer;
}

.avatar{
    width: 25px;
    height: 25px;
    margin-left: 1em;
    cursor: pointer;
    border: 1px solid transparent;
}

.avatar:hover{
    border: 2px solid var(--orange);
    border-radius: 50%;

}

/* Lower Half Styling */

.sneaker-details{
    margin: 1.5em;
}



/* Menu Bar */


.main-nav-menu{
    position: absolute;
    z-index: 11;
    top: 0;
    background-color: white;
    height: 100vh;
    width: 66%;
    padding: 2em;
    box-shadow:0 0 0 10000px rgba(0,0,0,.75);
}

.main-nav-menu-list-desktop{
    display: none;
    margin-right: auto;

    font-size: 1.2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.main-nav-menu-list{
    font-weight: 700;
    font-size: 1.2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-nav-menu-list li:first-of-type{
    margin-top: 2.5em;
}

.main-nav-menu-list li{
    margin-top: 1em;
}

.main-nav-menu-list li:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
}

.close-menu:hover{
    cursor: pointer;
}


/* Typography */

h4{
    color: var(--orange);
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
    margin-bottom: .8em;
}

p{
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    margin-bottom: 1em;;
}

.adjusted-price,
.product-title{
    font-size: 1.8rem;
}

.product-title{
    line-height: 32px;
    margin-bottom: .8em;
}

/* image-carousel styling */

.image-carousel{
    position: relative;
    /* min-width: 100vw; */
}

 .product-img{
    z-index: 1;
} 


.toggle-btn{
    position: absolute;
    background-color: white;
    padding: .8em;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}

.previous-item{
    top: 50%;
    transform: rotate(180deg);
    margin-left: 1em;
}

.next-item{
    top: 50%;
    right: 0%;
    margin-right: 1em;

}


/* Pricing / Add to cart styling */

.price-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
}

.adjusted-price{
    margin-right: .5em;
}

.applied-discount{
    font-size: 1em;;
    margin-right: auto;
    background-color: var(--pale-orange);
    padding: .2em .7em;
    border-radius: 8px;
    color: var(--orange);
    font-weight: 700;
}

.base-price{
    font-size: 1em;
    color: var(--grayish-blue);
    text-decoration: line-through;
    font-weight: 700;
}

button,
.item-count:hover{
    cursor: pointer;
}

.add-to-cart-section{
    display: flex;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
    background-color: var(--light-grayish-blue);
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.shopping-cart-img-add-to-cart{
    fill: white;
    margin-right: 1em;
}


button{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: var(--orange);
    font-weight: 700;
    display: flex;
    width: 100%;
    padding: 1em;
    justify-content: center;
}

button:hover{
    background-color: hsl(26, 100%, 63%);
}

/* Shopping cart styling */


.hide{
    display: none;
}


.shopping-cart-card{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
    border-radius: 10px;
    font-weight: 700;
    color: var(--dark-grayish-blue);
    width: 360px;
    text-align: center;
}

.item-thumbnail{
    width: 55px;
    height: 55px;
    border-radius: 5px;
}

.item-details,
.order-details{
    display: flex;
}

.order-details{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;

}


.item-details{
    flex-direction: column;
}   

h3{
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
}

.total-price{
    color: black;
}

.shopping-cart-card p{
    color: black;
    border-bottom: 1px solid rgba(104, 112, 125, 0.281);
    padding: 1.5em;
    text-align: left;
    margin-bottom: 0;
}

.cart-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 190px;
    padding: 1.5em;

}

@media (min-width: 1000px){


    main{
        max-width: 1440px;
        position: relative;
        margin: 0 auto;
        border:4px solid green;


    }

    /* Header Styling */
  
    body{
        display: flex;

    }


    header{
        border-bottom: 5px solid --light-grayish-blue;
        
    }

    .logo{
        margin: 0;
    }

    .avatar{
        width: 55px;
        height: 55px;
        margin-left: 3em;
    }

    .hamburger-menu{
        display: none;
    }

    .main-nav-menu-list-desktop{
        display: flex;
        margin-right: auto;
        font-size: 1rem;
        margin-left: 3.75em;
    }

    .main-nav-menu-list-desktop li{
        margin-right:2em;
    }


    /* Typography */

    .product-title{
        font-size: 3rem;
        line-height: 1;
    }


    /* Page Layout */

    .sneaker-details{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 4px solid saddlebrown;

    }




    /* Product Styling */
    .product-details{
        display: flex;
        border: 4px solid gold;

    }

    
    .product-images{
        border: 3px solid firebrick;
    }

    .product-thumbnails{
        display: flex;
        justify-content: space-between;
        max-height: 90px;
        max-width: 90px;
        margin-top: 1.5em;
    }


    .add-to-cart-section{
        margin: 0;
    }

    .buttons{
        display: flex;
        align-items: center;

    }


}


